@import "bourbon/bourbon";
@import "neat/neat";

// grid setup
.container { @include outer-container }
.row { @include row }
.columns {
  &.large-4 { @include span-columns(4); }
  &.large-8 { @include span-columns(8); }
  &.large-12 { @include span-columns(12); }
  &.small-4 { @include span-columns(4); }
  &.small-12 { @include span-columns(12); }
  &.small-2 { @include span-columns(2); }
}

// utilities 
.pull-left { float: left; }
.pull-right { 
  float: right; 
  &:after { clear: both; }
}

// text
body { text-align: center; font-family: $helvetica; }
.title { margin: 20px; font-size: 45px; }


//styling
.main-container {
  background-image: url('../images/vrksasana.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
ol { padding-left: 0;}
li.class-info { 
  list-style-type: none;
  padding: 10px;
}
.date {
  @include clearfix;
  border-bottom: thin solid gray;
  font-size: 20px;
}
.schedule-container { padding-bottom: 20px;}
