!!! 5
%html
  %head{:prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"}
    %meta{ :charset => "utf-8" }
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %title Design for Developers starter
    %link{:rel => "stylesheet", :href => "stylesheets/normalize.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "stylesheets/style.css", :type => "text/css"}
  %body.main-container
    .container
      .row
        .columns.large-12
          .title Yoga in the City
      .row &nbsp;
      .row
        .columns.large-4
          .row.classes-by-day
            .columns.small-12.schedule-container
              .date.row
                .pull-left.day Monday 
                .pull-right.day Jan 21
              %ol
                %li.class-info
                  .time-info 8:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 10:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 10:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio                      
            .columns.small-12.schedule-container 
              .date
                .pull-left.day Tuesday 
                .pull-right.day Jan 22
              %ol
                %li.class-info
                  .time-info 8:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 8:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 10:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
            .columns.small-12.schedule-container
              .date 
                .pull-left.day Wednesday 
                .pull-right.day Jan 23
              %ol
                %li.class-info
                  .time-info 8:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 8:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 10:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio                      
        .columns.large-8.hide-for-small
          Big Hero Image





