!!! 5
%html
  %head{:prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"}
    %meta{ :charset => "utf-8" }
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %title Design for Developers starter
    %link{:rel => "stylesheet", :href => "stylesheets/normalize.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "stylesheets/style.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700", :type => "text/css"}

  %body.main-container
    .container
      .row
        .columns.large-6.shadow-overlay
          .row.classes-by-day
            .columns.small-12.schedule-container
              .date.row
                .pull-left.day Monday 
                .pull-right.day Jan 21
              %ol
                %li.class-info
                  .time-info 8:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 10:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 10:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio                      
            .columns.small-12.schedule-container 
              .date
                .pull-left.day Tuesday 
                .pull-right.day Jan 22
              %ol
                %li.class-info
                  .time-info 8:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 8:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 10:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
            .columns.small-12.schedule-container
              .date 
                .pull-left.day Wednesday 
                .pull-right.day Jan 23
              %ol
                %li.class-info
                  .time-info 8:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 8:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio
                %li.class-info
                  .time-info 10:00 am
                  .teacher-info Lauren Imparato
                  .studio-info I.AM.YOU. Studio                      
        .columns.large-6.hide-for-small
          .greetings-container
            .greetings
              Hello there!  I want to share my love of yoga with the world, starting with a curated list of yoga classes.  And yes, I always talk in vrksasana :).  Lokah samasthah sukinoh bhavanthu.
          .triangle
          





