/* line 2, ../sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/style.scss */
.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.container:after {
  clear: both;
}

/* line 6, ../sass/style.scss */
.row {
  *zoom: 1;
  display: block;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.row:after {
  clear: both;
}

/* line 8, ../sass/style.scss */
.columns.large-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
.columns.large-4:last-child {
  margin-right: 0;
}
/* line 9, ../sass/style.scss */
.columns.large-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
.columns.large-8:last-child {
  margin-right: 0;
}
/* line 10, ../sass/style.scss */
.columns.large-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
.columns.large-12:last-child {
  margin-right: 0;
}
/* line 11, ../sass/style.scss */
.columns.small-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
.columns.small-4:last-child {
  margin-right: 0;
}
/* line 12, ../sass/style.scss */
.columns.small-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
.columns.small-12:last-child {
  margin-right: 0;
}
/* line 13, ../sass/style.scss */
.columns.small-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}
/* line 40, ../sass/neat/grid/_span-columns.scss */
.columns.small-2:last-child {
  margin-right: 0;
}

/* line 17, ../sass/style.scss */
.pull-left {
  float: left;
}

/* line 18, ../sass/style.scss */
.pull-right {
  float: right;
}
/* line 20, ../sass/style.scss */
.pull-right:after {
  clear: both;
}

/* line 24, ../sass/style.scss */
body {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 25, ../sass/style.scss */
.title {
  margin: 20px;
  font-size: 45px;
}

/* line 29, ../sass/style.scss */
ol {
  padding-left: 0;
}

/* line 30, ../sass/style.scss */
li.class-info {
  list-style-type: none;
  padding: 10px;
}

/* line 34, ../sass/style.scss */
.date {
  *zoom: 1;
  border-bottom: thin solid gray;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.date:before, .date:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.date:after {
  clear: both;
}

/* line 38, ../sass/style.scss */
.schedule-container {
  padding-bottom: 20px;
}
